<h1>Add a Warior</h1>
<h2>Lst of all Warriors:</h2>

<ul>
  <li>
    {{this.name}}:
    <p>strength: {{this.strength}}</p>
    <p>defence: {{this.defence}}</p>
    <p>stamina: {{this.stamina}}</p>
    <p>agility: {{this.agility}}</p>
  </li>
</ul>