<h1>Add a Warrior</h1>
<h2>List of all Warriors:</h2>

<ul>
    <li>
        {{this.name}}:
        <p>strength: {{this.strength}}</p>
        <p>defence: {{this.defence}}</p>
        <p>stamina: {{this.stamina}}</p>
        <p>agility: {{this.agility}}</p>
    </li>
</ul>
