<h2> Add a warrior</h2>
<form action='/warrior' method="post">
  <label>
    Name: <br>
    <input type="text" name="name" minlength="3" maxlength="50">
  </label>

  <label>
    Strength: <br>
    <input type="number" name="strength" min="1" max="10" value="1">
  </label>

  <label>
    Defence: <br>
    <input type="number" name="defence" min="1" max="10" value="1">
  </label>

  <label>
    Stamina: <br>
    <input type="number" name="stamina" min="1" max="10" value="1">
  </label>

  <label>
    Agility: <br>
    <input type="number" name="agility" min="1" max="10" value="1">
  </label>

  <button type="submit"> Add a warrior</button>
</form>


<!--<h1>Add a Warrior</h1>-->
<!--<h2>List of all Warriors:</h2>-->

<!--<ul>-->
<!--    <li>-->
<!--        {{this.name}}:-->
<!--        <p>strength: {{this.strength}}</p>-->
<!--        <p>defence: {{this.defence}}</p>-->
<!--        <p>stamina: {{this.stamina}}</p>-->
<!--        <p>agility: {{this.agility}}</p>-->
<!--    </li>-->
<!--</ul>-->
